DATABASE_URL="postgresql://postgres:postgres@localhost:5433/new_aeon_cms"
JWT_ACCESS_SECRET="dev-access-secret-min-32-chars-long-ok"
JWT_REFRESH_SECRET="dev-refresh-secret-min-32-chars-different"
ADMIN_PATH="/admin"
NEXT_PUBLIC_ADMIN_PATH="/admin"
DEFAULT_LOCALE="ar"
AVAILABLE_LOCALES="ar,en"
UPLOAD_DIR="./public/uploads"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
